<section class="wt-haslayout wt-dbsectionspace">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 float-left">
      <div class="wt-dashboardbox">
        <div class="wt-dashboardboxtitle">
          <h2>Post a Service</h2>
        </div>
        <div class="wt-dashboardboxcontent">
          <div class="wt-jobdescription wt-tabsinfo">
            <div class="wt-tabscontenttitle">
              <h2>Service Description</h2>
            </div>
            <form
              [formGroup]="jobForm"
              class="wt-formtheme wt-userform wt-userformvtwo"
            >
              <fieldset>
                <div class="form-group">
                  <input
                    type="text"
                    name="title"
                    formControlName="title"
                    class="form-control"
                    placeholder="Job Title"
                  />
                </div>
                <div class="form-group form-group-half wt-formwithlabel">
                  <span class="wt-select">
                    <label for="selectoption">Service Level:</label>
                    <select name="serviceLevel" formControlName="serviceLevel">
                      <option value="Professional">Professional</option>
                      <option value="Expert">Expert</option>
                    </select>
                  </span>
                </div>
                <div class="form-group form-group-half wt-formwithlabel">
                  <span class="wt-select">
                    <label for="selectoption">Service Type:</label>
                    <select name="type" formControlName="type">
                      <option value="Per Hour">Per Hour</option>
                      <option value="Fixed">Fixed</option>
                    </select>
                  </span>
                </div>
                <div class="form-group form-group-half wt-formwithlabel">
                  <span class="wt-select">
                    <label for="selectoption">Service Duration:</label>
                    <select name="duration" formControlName="duration">
                      <option value="02 Weeks">02 Weeks</option>
                      <option value="03 Weeks">03 Weeks</option>
                    </select>
                  </span>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="wt-jobdescription wt-tabsinfo">
            <div class="wt-tabscontenttitle">
              <h2>Service Category</h2>
            </div>
            <form
              [formGroup]="jobForm"
              class="wt-formtheme wt-userform wt-userformvtwo"
            >
              <fieldset>
                <div class="form-group wt-formwithlabel">
                  <select
                    name="categoryId"
                    formControlName="categoryId"
                    class="w-100"
                  >
                    <option value="">Select</option>
                    <option
                      *ngFor="let category of categories"
                      value="{{ category.id }}"
                    >
                      {{ category.name }}
                    </option>
                  </select>
                </div>
              </fieldset>
            </form>
          </div>

          <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
              <h2>Service Details</h2>
            </div>
            <form
              [formGroup]="jobForm"
              class="wt-formtheme wt-userform wt-userformvtwo"
            >
              <fieldset>
                <div class="form-group">
                  <!-- <textarea
                    name="details"
                    formControlName="details"
                    id="wt-tinymceeditor"
                    class="wt-tinymceeditor w-100"
                    placeholder="Add Job Detail Here"
                  ></textarea> -->
                  <!-- <editor [(ngModel)]="dataModel"></editor> -->
                  <editor
                    formControlName="details"
                    apiKey="k90umtx3945eb9gcxyq39jifjvi1xbn7hiycvor65cu6vdew"
                    [init]="{ plugins: 'link' }"
                  ></editor>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="wt-location wt-tabsinfo my-3">
            <div class="wt-tabscontenttitle">
              <h2>Service Location</h2>
            </div>
            <form [formGroup]="jobForm" class="wt-formtheme wt-userform">
              <fieldset>
                <div style="width: 30%" class="form-group form-group-half">
                  <span class="wt-select">
                    <select name="country" formControlName="country">
                      <option value="" disabled="">Select</option>
                      <option value="United States" disabled="">
                        United States
                      </option>
                      <option value="China" disabled="">China</option>
                      <option value="Nigeria">Nigeria</option>
                    </select>
                  </span>
                </div>
                <div style="width: 70%" class="form-group form-group-half">
                  <!-- <input
                    name="address"
                    class="form-control"
                    formControlName="address"
                    placeholder="Your Address"
                    ngx-google-places-autocomplete
                    #addressText
                    (onAddressChange)="handleAddressChange($event)"
                  /> -->
                  <input
                    ngx-google-places-autocomplete
                    class="form-control"
                    [options]="options"
                    (onAddressChange)="AddressChange($event)"
                  />
                </div>
                <div class="form-group wt-formmap">
                  <div #map id="wt-locationmap" class="wt-locationmap"></div>
                </div>
                <div class="form-group form-group-half">
                  <input
                    type="text"
                    name="longitude"
                    class="form-control"
                    formControlName="longitude"
                    placeholder="Enter Longitude (Optional)"
                  />
                </div>
                <div class="form-group form-group-half">
                  <input
                    type="text"
                    name="text"
                    class="form-control"
                    formControlName="latitude"
                    placeholder="Enter Latitude (Optional)"
                  />
                </div>
                <div class="form-group">
                  <button (click)="getCoordinates()" class="wt-btn my-2">
                    Get Coordinate
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
          <!-- <div class="wt-jobskills wt-tabsinfo">
            <div class="wt-tabscontenttitle">
              <h2>Skills Required</h2>
            </div>
            <form class="wt-formtheme wt-userform wt-userformvtwo">
              <fieldset>
                <div class="form-group">
                  <select
                    class="chosen-select Skills"
                    data-placeholder="Skills"
                    id="select"
                    name="Skills"
                    [(ngModel)]="selectedSkill"
                  >
                    <option
                      *ngFor="let skill of skills"
                      value="{{ skill.value }}"
                    >
                      {{ skill.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group wt-btnarea">
                  <a
                    href="javascript:void(0);"
                    (click)="onAddSkillSelect()"
                    class="wt-btn"
                    >Add Skills</a
                  >
                </div>
                <div class="form-group wt-myskills">
                  <ul class="">
                    <li *ngFor="let skill of userSkills">
                      <div class="wt-dragdroptool">
                        <a href="javascript:void(0)" class="lnr lnr-menu"></a>
                      </div>
                      <span class="skill-dynamic-html"
                        >{{ skill }} (<em class="skill-val">90</em>%)</span
                      >
                      <span class="skill-dynamic-field">
                        <input
                          type="text"
                          name="skills[1][percentage]"
                          value="90"
                        />
                      </span>
                      <div class="wt-rightarea">
                        <a
                          (click)="removeSkill(skill)"
                          href="javascript:void(0);"
                          class="wt-deleteinfo"
                          ><i class="lnr lnr-trash"></i
                        ></a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="wt-location wt-tabsinfo my-3">
                  <div class="wt-tabscontenttitle">
                    <h2>Job Location</h2>
                  </div>
                  <form [formGroup]="jobForm" class="wt-formtheme wt-userform">
                    <fieldset>
                      <div
                        style="width: 30%"
                        class="form-group form-group-half"
                      >
                        <span class="wt-select">
                          <select name="country" formControlName="country">
                            <option value="" disabled="">Select</option>
                            <option value="United States" disabled="">
                              United States
                            </option>
                            <option value="China" disabled="">China</option>
                            <option value="Nigeria">Nigeria</option>
                          </select>
                        </span>
                      </div>
                      <div
                        style="width: 70%"
                        class="form-group form-group-half"
                      >
                        <input
                          name="address"
                          class="form-control"
                          formControlName="address"
                          placeholder="Your Address"
                          ngx-google-places-autocomplete
                          #placesRef="ngx-places"
                          (onAddressChange)="handleAddressChange($event)"
                        />
                      </div>
                      <div class="form-group wt-formmap">
                        <div
                          #map
                          id="wt-locationmap"
                          class="wt-locationmap"
                        ></div>
                      </div>
                      <div class="form-group form-group-half">
                        <input
                          type="text"
                          name="longitude"
                          class="form-control"
                          formControlName="longitude"
                          placeholder="Enter Longitude (Optional)"
                        />
                      </div>
                      <div class="form-group form-group-half">
                        <input
                          type="text"
                          name="text"
                          class="form-control"
                          formControlName="latitude"
                          placeholder="Enter Latitude (Optional)"
                        />
                      </div>
                      <div class="form-group">
                        <button (click)="getCoordinates()" class="wt-btn my-2">
                          Get Coordinate
                        </button>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </fieldset>
            </form>
          </div> -->
          <div class="wt-attachmentsholder">
            <div class="wt-tabscontenttitle">
              <h2>Attachments</h2>
              <div class="wt-rightarea">
                <span>Show “Attachments” after hiring</span>
                <div class="wt-on-off float-right">
                  <input
                    type="checkbox"
                    (change)="toggleEditable($event)"
                    id="hide-on"
                    name="contact_form"
                  />
                  <label for="hide-on"><i></i></label>
                </div>
              </div>
            </div>
            <form class="wt-formtheme wt-formprojectinfo wt-formcategory">
              <fieldset>
                <div class="form-group form-group-label">
                  <div class="wt-labelgroup">
                    <label for="file">
                      <span class="wt-btn">Select Files</span>
                      <input type="file" name="file" id="file" />
                    </label>
                    <span>Drop files here to upload</span>
                    <em class="wt-fileuploading"
                      >Uploading<i class="fa fa-spinner fa-spin"></i
                    ></em>
                  </div>
                </div>
                <div class="form-group">
                  <ul class="wt-attachfile">
                    <li class="wt-uploading">
                      <span class="uploadprogressbar"></span>
                      <span>Wireframe Document.doc</span>
                      <em
                        >File size: 512 kb<a
                          href="javascript:void(0);"
                          class="lnr lnr-cross"
                        ></a
                      ></em>
                    </li>
                    <li>
                      <span class="uploadprogressbar"></span>
                      <span>Requirments.pdf</span>
                      <em
                        >File size: 110 kb<a
                          href="javascript:void(0);"
                          class="lnr lnr-cross"
                        ></a
                      ></em>
                    </li>
                    <li class="wt-uploaded">
                      <span class="uploadprogressbar"></span>
                      <span>Company Intro.docx</span>
                      <em
                        >File size: 224 kb<a
                          href="javascript:void(0);"
                          class="lnr lnr-cross"
                        ></a
                      ></em>
                    </li>
                  </ul>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="wt-updatall">
        <i class="ti-announcement"></i>
        <span>Post Service by just clicking on “Post Now” button.</span>
        <a (click)="postJob()" class="wt-btn" href="javascript:void(0);"
          >Post Now</a
        >
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-6 float-rght">
      <div
        style="background-color: #fff"
        class="wt-dashboardboxcontent wt-categoriescontentholder"
      >
        <table class="wt-tablecategories">
          <thead>
            <tr>
              <th>
                <span class="wt-checkbox">
                  <input id="wt-name" type="checkbox" name="head" />
                  <label for="wt-name"></label>
                </span>
              </th>
              <th>Icon</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>
                <span class="wt-checkbox">
                  <input id="{{ category.id }}" type="checkbox" name="head" />
                  <label for="{{ category.id }}"></label>
                </span>
              </td>
              <td>
                <figure>
                  <img
                    src="assets/images/categories/img-09.png"
                    alt="img description"
                  />
                </figure>
              </td>
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td>
                <div class="wt-actionbtn">
                  <a
                    href="javascript:void(0);"
                    class="wt-addinfo wt-skillsaddinfo"
                    ><i class="lnr lnr-pencil"></i
                  ></a>
                  <a href="javascript:void(0);" class="wt-deleteinfo"
                    ><i class="lnr lnr-trash"></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="wt-pagination">
          <ul>
            <li class="wt-prevpage">
              <a href="javascrip:void(0);"
                ><i class="lnr lnr-chevron-left"></i
              ></a>
            </li>
            <li><a href="javascrip:void(0);">1</a></li>
            <li><a href="javascrip:void(0);">2</a></li>
            <li><a href="javascrip:void(0);">3</a></li>
            <li><a href="javascrip:void(0);">4</a></li>
            <li><a href="javascrip:void(0);">...</a></li>
            <li><a href="javascrip:void(0);">50</a></li>
            <li class="wt-nextpage">
              <a href="javascrip:void(0);"
                ><i class="lnr lnr-chevron-right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
