<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
  <!--Register Form Start-->
  <div class="wt-haslayout wt-main-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
          <div class="wt-registerformhold">
            <div class="wt-registerformmain">
              <div class="wt-registerhead">
                <div class="wt-title">
                  <h3>You're Almost There</h3>
                </div>
                <div class="wt-description">
                  <p>
                    Consectetur adipisicing elit sed dotem eiusmod tempor incune
                    utnaem labore etdolore maigna aliqua enim poskina
                  </p>
                </div>
              </div>
              <div class="wt-joinforms">
                <ul class="wt-joinsteps">
                  <li class="wt-done-next">
                    <a href="javascrip:void(0);"><i class="fa fa-check"></i></a>
                  </li>
                  <li class="wt-done-next">
                    <a href="javascrip:void(0);"><i class="fa fa-check"></i></a>
                  </li>
                  <li class="wt-active"><a href="javascrip:void(0);">03</a></li>
                  <li><a href="javascrip:void(0);">04</a></li>
                </ul>
              </div>
              <div class="wt-joinformc">
                <figure class="wt-joinformsimg">
                  <img
                    src="assets/images/work/img-04.jpg"
                    alt="img description"
                  />
                </figure>
                <form
                  [formGroup]="stageThreeForm"
                  (ngSubmit)="verify(stageThreeForm)"
                  class="wt-formtheme wt-verifyform"
                >
                  <fieldset>
                    <div class="form-group">
                      <label
                        >We’ve sent verification code on your email.<a
                          href="javascript:void(0);"
                        >
                          Why I need code?</a
                        ></label
                      >
                      <input
                        type="text"
                        name="otp"
                        class="form-control"
                        placeholder="Enter Verification Code"
                        formControlName="otp"
                      />
                    </div>
                    <div class="form-group wt-btnarea">
                      <button type="submit" class="wt-btn">Verify now</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="wt-registerformfooter">
              <span
                >Already Have an Account?
                <a href="javascript:void(0);">Login Now</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Register Form End-->
</main>
